@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-surface text-heading antialiased;
    font-family: "Inter", sans-serif;
  }

  button,
  input,
  textarea,
  select {
    font-family: inherit;
  }
}